name: Build Web Game

on: push

env:
  GODOT_ERSION: 3.5.1
  EMSDK_VERSION: 3.1.30

jobs:
  build-rust:
    runs-on: ubuntu-latest
    container:
      image: rust:alpine

    steps:
      - uses: actions/checkout@v3
        with:
          path: repo/

      #- name: Cache Rust Dependencies
      #  uses: actions/cache@v3
      #  with:
      #    path: |
      #      ~/.cargo/bin/
      #      ~/.cargo/registry/index/
      #      ~/.cargo/git/db/
      #      repo/game-gdnative/target/
      #    key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      #- name: Cache EMSDK
      #  uses: actions/cache@v3
      #  id: cache-emsdk
      #  with:
      #    path: |
      #      emsdk/
      #    key: ${{ runner.os }}-emsdk-${EMSDK_VERSION}

      - name: Checkout EMSDK
        #if: steps.cache-emsdk.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with:
          repository: emscripten-core/emsdk
          path: emsdk/

      - uses: actions/setup-python@v2

      - name: Install EMSDK
        #if: steps.cache-emsdk.outputs.cache-hit != 'true'
        run: |
          set -x
          cd emsdk
          pwd
          type $(which python3)
          source ./emsdk install ${EMSDK_VERSION}

      - name: Build Rust package
        run: |
          cd emsdk
          ./emsdk activate ${EMSDK_VERSION}
          cd ../repo/game-gdnative
          cargo +nightly build --target=wasm32-unknown-emscripten --release

      - uses: actions/upload-artifact@v3
        with:
          name: rust-wasm
          path: target/wasm32-unknown-emscripten/release/game_gdnative.wasm

  build-game:
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:3.5.1
    needs: build-rust

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true

      - name: Download Rust Build
        uses: actions/download-artifact@v3
        with:
          name: rust-wasm
          path: game-godot

      #- name: Cache Templates
      #  uses: actions/cache@v3
      #  id: cache-templates
      #  with:
      #    path: |
      #      ~/.local/share/godot/templates
      #    key: godot_templates-${GODOT_VERSION}

      - name: Setup templates
        #if: steps.cache-template.outputs.cache-hit != 'true'
        run: |
          mkdir -v -p ~/.local/share/godot/templates
          mv /root/.local/share/godot/templates/${GODOT_VERSION}.stable ~/.local/share/godot/templates/${GODOT_VERSION}.stable

      - name: Build Site
        run: |
          mkdir -v -p build/web
          godot -v --export HTML5 --path game-godot build/web/index.html

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload Site
        uses: actions/upload-pages-artifact@v1
        with:
          path: build/web

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
